
.edit-profile-container {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin: 0 auto;
    gap: 5px;


}

.name-loc-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-start;
}


.location-container label{
    margin-bottom: 10px;

}


.hiddenCheckbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkboxLabel {
    display: block;
    color: white;
    padding: 5px 15px 5px 15px;
    background-color: #323232;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 20px;

}

.hiddenCheckbox:checked +.checkboxLabel {
    background-color: var(--identity-color);
    color: black;
}

#skills {
    display: flex;
    width: 350px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

@media (min-width: 1024px) {
    .img-preview{
        width: 300px;
    }
}
