/* @font-face {
    font-family: 'Afficher';
    src: url('/fonts/LTAfficherNeue-BoldSubhead.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */

@font-face {
    font-family: 'NY';
    src: url('/fonts/Sinoreta_PERSONAL_USE_ONLY.otf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}