.edit-help-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-help-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-help-container textarea {
    color: #101010;
    width: 100%;
}

.edit-help-container select {
    color: black
}

.img-preview {
    max-width: 150px;
    border-radius: 10px;
}


.edit-description {
    height: 100px;
}



.create-help-button.save-changes{
    margin-top: 40px;
}

@media (min-width: 1024px) {
    .edit-help-container textarea {
        width: 300px;

    }


}