.post-card-container {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-top: 10px;

}

.help-post-card-small {
	background-color: #D5D5D5;
	color: #101010;
	width: 120px;
	font-size: 9px;

	gap: 10px;
	min-height: 120px;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(45, 45, 45);
	line-height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* justify-content: space-between; */

}

/* .help-post-card-small .location {
	text-shadow: 2px 3px 7px #a7705f;
} */

.help-post-card-small .title {
	border: 0;
	line-height: 15px;


}

.btn-custom-style:hover {
	color: #101010
}



.help-post-home .location {

	margin-bottom: 10px;
}

.help-post-home .description {
	font-style: italic;

}

.fa-map-marker {
	margin-left: 5px;
}

@media (min-width: 1024px) {
	.help-post-card-small {
		min-height: 15vh;
		width: 200px;
	}
}