p.title-about {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #D5D5D5;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    padding: 0px 15px 15px 15px;
  
}

.head-container {
    height: 400px;
    background-color: #204460;
    position: relative;
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 70px;
    justify-content: space-around;
    flex-direction: row;
}

.about-head {
    background-image: url("/images/illustrations/undraw_showing_support_re_5f2v.svg");
    background-size: 40%;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    padding: 30px;

}

.about-main-container {
    padding: 25px;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
    padding-top: 90px;
    line-height: 35px;

}

a {
    text-decoration: none;
    color: var(--identity-color);
    cursor: pointer;

}

.subtitle-highlight {
    color: var(--identity-color);
}

.intro {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    line-height: 25px;
}

.about-illustration {
    margin-top: 45px;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.main-steps-container {
    padding: 20px 30px 0 30px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-steps-container li {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: center;
}

.steps-text {
    background-color: #D5D5D5 ;
    padding: 20px;
    color: #101010;
    border-radius: 15px;

}

.completed-token-img {
    margin-top: 25px;
    max-width: 300px;
}

.minus-token {

    margin-top: 40px;
    max-width: 300px;
}

.token-icon {
    color: var(--identity-color);

}

.about-thankyou {
    margin-top: 15px;
    padding: 15px;
    margin-bottom: 40px;
    text-align: center;
}

.policy-about {
    padding: 20px;
    margin-top: 10px;
    text-align: left;
}

.material-symbols-outlined {
    color: var(--identity-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;


}

.privacy-icon {
    margin-top: 60px;
    margin-bottom: 20px;

}

.thankyou-line {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--identity-color);
}

p {
    line-height: 20px;
}

@media (min-width: 1024px) {
    .about-main-container {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title-about {
        font-size: 50px;
        margin-top: 40px;
        margin-bottom: 20px;

    }

    .material-symbols-outlined {
        margin-bottom: 10px;

    }

    .privacy-icon {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .hope-about {
        font-size: 18px;
        line-height: 30px;
    }

    .thankyou-line {
        font-size: 30px;
        margin-bottom: 20px;
    }


}