
.volunteerCard-link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	border-radius: 8px;
	text-decoration: none;
	background-color: #D5D5D5;
	color: black;
	padding: 10px;
}

.volunteerCard-link .btn-custom-style {
	margin-bottom: 0;
}
.volunteerCard-link .btn-custom-style:hover {
	background-color: #80947E;
}

.volunteerCard-link button {
	font-size: 0.77em;
}

.volunteerCard-card {
	margin-top: 5px;
	width: 150px;
	color: rgb(0, 0, 0);
	border-radius: 8px;
	padding: 5px;
	line-height: 25px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.title-volunteerCard {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.name-volunteerCard {

	margin-bottom: 10px;
}

.email-volunteerCard {
	font-style: italic;

}

.image-volunteerCard {
	width: 30px;
	height: 30px;
	border-radius: 25px;
	object-fit: cover;
	margin-bottom: 5px;
}

.v-card-name-img {
	display: flex;
	gap: 5px;
}

.btn-custom-style{
	background-color: #D29D3B;
}
