.LoginPage input {
    color: black;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
}

.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginPage * {
    max-width: 350px;
}

.LoginPage>form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.submitbutton {
    appearance: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
/*     outline: 1px solid white;
 */    margin-top: 20px;
    color: aliceblue;
    background-color: #D19C3B;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    width: 300px;
    margin-bottom: 30px;
    
    border: none;
}

.signUpButton{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
/*     outline: 1px solid white;
 */    margin-top: 20px;
    color: aliceblue;
    background-color: #D19C3B;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    width: 300px;
    margin-bottom: 30px;

}

.error-message {
    margin-top: 30px;
}

h1{
    text-align: center;
}