




.LoginPage form{
    padding: 15px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    gap: 3px;
}

.not-logged-main-cont{
    margin-left: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}


.error-message {
    margin-top: 30px;
}

h1{
    text-align: center;
}