.testimony {
    width: 270px;
    background-color: rgb(1, 1, 1);
    color: white;
    min-height: 130px;
    border-radius: 8px;
    padding: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top: 2px solid #80947E;
    /* padding-top: 3px; */
}

.testimony-creator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 3px;
}

.testimony-creator img {
    background-color: aliceblue;
    object-fit: cover;
    object-position: center center;
    width: 30px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 50%;
}

.creator-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimony .quote {
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    min-height: 70px;
    padding: 5px;
}

.testimony .quote::before {
    content: '\201C';
}

.testimony .quote::after {
    content: '\201D';
}

.testimony-rating {
    color: #D29D3B ;
    font-size: 14px;
    margin-bottom: 3px;
}

@media (min-width: 750px) {
    .testimony {
        margin-top: 0px;
    }
}