.testimony {
    width: 210px;
    background-color: rgb(244,208,97);
    color: rgb(1, 1, 1);
    min-height: 150px;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 3px;
}

.testimony-creator {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.testimony-creator img {
    background-color: aliceblue;
    object-fit: cover;
    object-position: center center;
    width: 30px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 50%;
}

.testimony .quote {
    padding: 10px 5px 5px 5px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    min-height: 70px;
}

.testimony .quote::before {
    content: '\201C';
}

.testimony .quote::after {
    content: '\201D';
}

.testimony-rating {
    color: rgb(29, 55, 30);
    font-size: 14px;
    margin-bottom: 3px;
}