* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.post-details-container {
    line-height: 25px;
    padding: 5px;

    border-radius: 15px;
    border: 1px solid #a8ec41;
    background-color: #111111
}

.general-post-container {
    padding: 30px;

}

.help-img-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.help-image {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 0 auto;
}

.help-container {
    background-position: center;
    background-size: cover;
    width: 100%;


}

.post-details {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 15px;
    color: rgb(250, 242, 242);


    text-shadow: 2px 2px 2px rgba(40, 40, 40, 0.3);

    width: 220px;
}

.info-post-container {
    padding: 20px;
}

.details-location {
    font-size: 20px;
    margin-bottom: 15px;
    border-top: 1px solid #a8e41c;
    padding-top: 10px;
}

.description-title {
    font-size: 20px;
    margin-bottom: 3px;
}

.info-title {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 1px;
    font-size: 30px;
}

.post-creator-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.name-creator {
    font-size: 18px;
}

.creator-title {
    margin-top: 10px;
    font: 20px;
}

.volunteer {
    font-size: 30px;
}

.description-container {

    color: #f3f3f3;
    border-radius: 15px;
    padding: 10px;
}

.info-description {
    font-size: 16px;
}

.creator-picture {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    object-fit: cover;
    margin-top: 5px;
}

.details-volunteer {
    margin-top: 10px;
}

.I-can-help {
    color: rgb(240, 243, 247);
    outline: 1px solid whitesmoke;
    padding: 2px;
    width: 120px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0 auto;
}

.edit-help-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.edit-button {
    color: rgb(240, 243, 247);
    outline: 1px solid whitesmoke;
    padding: 2px;
    width: 130px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0 auto;
}

.edit-button:hover {
    background-color: #a8ec41;
    color: #111111;
    outline: 1px solid #111111;

}

.volunteers-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    overflow: scroll;
}

@media (min-width: 1024px) {
    .help-image {
        border-radius: 10px;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
    }

    .post-details-container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 10px;
    }

}