@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

.create-help-main-cont {
    margin-left: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-help-container {
    padding: 15px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    gap: 3px;

}


#helpImageUrl#file-upload-button {
    color: #101010;
}

#create-help-title {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #A4CACE;
}


#title {
    background-color: #101010;
    border-bottom: 1px solid rgb(255, 166, 70);
    margin-bottom: 10px;
}


.img-preview {
    max-width: 50vw;
    border-radius: 10px;
}

form p{
    font-size: 12px;
    color: #A4CACE;
    margin-bottom: 15px;
}