@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#create-help-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    gap: 5px;



}
#create-help-container input,
#create-help-container select {
    width: 300px;
    padding: 10px;
    color: whitesmoke;
    background-color:#101010;
    border-radius: 15px;
}

#helpImageUrl#file-upload-button{
    color: #101010;
}

#create-help-title {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #A4CACE;
}


input#title{
 padding: 10px;
 background-color: whitesmoke;
}


textarea{
    width: 300px;
    padding: 10px;
    color: #090909;
    background-color: whitesmoke;
    border-radius: 15px;
}

textarea#description{
    width: 300px;
    border-radius: 15px;

    padding: 10px;

}
textarea#location{
    width: 300px;
    padding: 10px;

}


.create-help-container>label {
    margin-top: 20px;
}

.create-help-container p {
    margin-top: 50px;
}


#title {
    background-color: #101010;
    /*     outline: 1px solid rgb(255, 166, 70);*/
    border-bottom: 1px solid rgb(255, 166, 70);
    margin-bottom: 10px;
}

.create-help-button {
    color: #101010;
    font-weight: 500;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    text-align: center;
    margin-bottom: 60px;
    background-color: rgb(255, 166, 70);
    margin-top: 60px;
}

.create-help-button:hover {
    background-color: #A4CACE;
}

.img-preview {
    max-width: 50vw;
    border-radius: 10px;
}