.form-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-page * {
    max-width: 350px;
}

.form-page > form {
    width: 350px;
    display:flex;
    flex-direction: column;  
}

.form-page .submitbutton, .form-page label{
    margin-top: 20px;
}

.testimony-box-label{
    margin-bottom: 10px;
}

textarea{
    background-color: #111111;
    outline: 1px solid var(--identity-color);
    margin-bottom: 10px;
}



.submitbutton{
    margin-left: 0 auto;
}

h1 .testimony-page-title {
color: var(--identity-color);
outline: 0px;
}