.help-post-home {
	width: 250px;
	height: 210px;
	margin-bottom: 20px;
	border-radius: 15px;
	padding: 18px;
	background-color: #e89425;
	box-shadow: 1px 1px 10px rgba(171, 171, 217, 0.3);
	color: #111111;
	overflow: hidden;
	font-size: 12px;
}

.help-post-home .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 3px;
	line-height: 20px;
	height: 50px;
	
}



.help-post-home .description {
	font-style: italic;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* number of lines to show */
	line-clamp: 3;
	-webkit-box-orient: vertical;


}

.home-creator-picture {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	object-fit: cover;
	background-color: aliceblue;
}

.image-location-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: first baseline;
	margin-bottom: 5px;
}